$margin-1: 15px;
$padding-1: 15px;

$nav-height: 50px;

$main-border-color: #a333c8;
$main-border-thickness: 3px;

$site-branding-font-size: 1.3rem;
$site-branding-color: #a333c8;
$site-branding-color-2: #e783ff;
