@import '~semantic-ui-css/semantic.min.css';
@import 'variables';

html, body, #root {
    margin: 0;
    height: 100%;
}

.site-branding {
    color: $site-branding-color;
    font-size: $site-branding-font-size;
    &:hover {
        color: $site-branding-color-2;
    }
}
