@import "variables";

.site-nav-bar {
  display: flex;
  align-items: center;
  padding: $padding-1;
  background: #ffffff;
  height: $nav-height;
  border-bottom: $main-border-thickness solid $main-border-color;

  .item {
    margin-right: $margin-1;
  }
}
